@model System.Security.Claims.ClaimsPrincipal
<h3>@ViewBag.Message</h3>

<dl>
    @foreach (var claim in @Model.Claims)
    {
        <dt>
            @claim.Type
        </dt>
        <dd>
            @claim.Value
        </dd>
    }
</dl>